/* Nota: box-sizing considera paddings e margins */
:root {
  --bg: #040714;
  --text: #f9f9f9;
  --button: #03B6D8;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir-Roman, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

a {
  color: var(--text);
  text-decoration: none;
}
/* Responsividade básica */
@media only screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 16px;
  }
}